<ion-content [fullscreen]="true">
  {{startCamera()}}

  <ion-img *ngIf="pictureIs" [src]="imageB64"></ion-img>
  <table *ngIf="pictureIs" class="infoGrille">
    <tr><th>coucou</th></tr>
  </table>


  <div *ngIf="filigrane && tmpFili">
    <ion-img src="assets/filigrane.png" class="filigrane" [style.transform]=valScale></ion-img>
  </div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="returnMenu()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  
  <ion-fab *ngIf="pictureIs" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="savePicture()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
  <ion-fab *ngIf="!pictureIs" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-fab *ngIf="pictureIs" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="supprPicture()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>  