<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des grilles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-text color="primary" *ngIf="listeGrille.length == 0">
    <br>
    Votre liste de grilles est vide.
  </ion-text>

  <table>
    <tr *ngFor="let g of listeGrille; let j = index">
      <td style="width:100%;">
        <div class="grille">
          <strong>{{listeGrille[j]}}</strong>
          <br>
          <table>
            <tr><th style="width: 25%;">Inférieur</th><th style="width: 25%;">Parité</th><th style="width: 25%;">Moyenne</th><th style="width: 25%;">Commun</th></tr>
            <tr><td>{{maxListe[0]}}%</td><td>{{maxListe[1]}}%</td><td>{{maxListe[2]}}%</td><td>{{maxListe[3]}}%</td></tr>
            <tr><td>{{listeInfo[j][0]}}%</td><td>{{listeInfo[j][1]}}%</td><td>{{listeInfo[j][2]}}%</td><td>{{listeInfo[j][3]}}%</td></tr>
            <tr><td colspan="4">{{listeInfo[j][4]}}</td></tr>
            <tr><td colspan="4"><ion-button color="danger"  expand="block" (click)="remove(j)">Effacer   {{listeInfo[j][5]}}%</ion-button></td></tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
