<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>7 nombres plus petits ou égaux à 45</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>7 ou 8 nombres pairs</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>48 ou 49 de moyenne</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>2 nombres identiques maximum par grille</ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>API adresse :</ion-label>
    <ion-input [(ngModel)]=apiaddress (change)=changeAPIAddress()></ion-input>
  </ion-item>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
